<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Personal website of Chad Arimura - {{ title }}">
<title>Chad Arimura | {{ title }}</title>
<link rel="stylesheet" href="/assets/styles.css">
<link rel="alternate" type="application/rss+xml" title="The Site of Chad Arimura" href="/feed.xml">
<script src="/assets/javascript/theme.js"></script>
<script src="https://cdn.usefathom.com/script.js" data-site="AVAPMDCM" defer></script>