<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>
    <header>
        <div class="container">
            {% include "header.html" %}
        </div>
    </header>

    <main class="container" id="home">

        {{ content }}

        <article class="post">
            <div id="post-header">
                <p id="date">{{ latest_post.formatted_date }}</p>
                <h1 class="post-title"><a href="{{ latest_post.url }}">{{ latest_post.title }}</a></h1>
            </div>
            
            <div id="post-content">
                {{ latest_post.rendered_content }}
            </div>
        </article>
    </main>

    <footer>
        <div class="container">
            <p>{% include "footer.html" %}</p>
        </div>
    </footer>
</body>
</html>
