<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>
    <header>
        <div class="container">
            {% include "header.html" %}
        </div>
    </header>

    <main class="container" id="page">
        {{ content }}

        <h2>Thoughts</h2>
        <div class="thought-feed">
        {% for thought in thoughts %}
            <article class="thought">
                <a href="{{ thought.url }}" class="thought-date">{{ thought.formatted_date }}</a>
                {{ thought.rendered_content }}
            </article>
        {% endfor %}
        </div>
    </main>

    <footer>
        <div class="container">
            {% include "footer.html" %}
        </div>
    </footer>
</body>
</html>
