<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>
    <header>
        <div class="container">
            {% include "header.html" %}
        </div>
    </header>

    <main class="container" id="post">
        <article class="post">
            <div id="post-header">
                {% if date %}<p id="date">{{ date }}</p>{% endif %}
                <h1 class="post-title">{{ title }}</h1>
            </div>
            
            <div id="post-content">
                {{ content }}
            </div>
        </article>
    </main>

    <footer>
        <div class="container">
            {% include "footer.html" %}
        </div>
    </footer>
</body>
</html>